html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: arial;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*//////////// end css reset //////////*/

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header{
    background: #151515;
}

header:after{
    content: "";
    display: block;
    clear: both;
}

#logo{
    background: url(images/logo.png) no-repeat;
    height: 70px;
    width: 280px;
    float: left;
    text-indent: -10000px;
}

header nav{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

header nav a{
    color: #fff;
    text-decoration: none;
    font-family: arial;
}

header nav h2{
    height: 0;
    text-indent: -10000px;
}

header nav li{
    float: left;
    margin-left: 20px;
}

header nav span{
    color: green;
    margin-left: 20px;
}

#lead-banner img{
    width: 100%;
}

#lead-banner{
    max-height: 440px;
    overflow: hidden;
    position: relative;
}

.banner-overlay{
    position: absolute;
    top: 20%;
    width: 100%;
}

.banner-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
}

#lead-banner p{
    color: #fff;
    font-size: 24px;
    max-width: 600px;
    margin-top: 10px;
}

#lead-banner a{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51b205+0,3c9e0a+100 */
    background: #51b205; /* Old browsers */
    background: -moz-linear-gradient(top,  #51b205 0%, #3c9e0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b205), color-stop(100%,#3c9e0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #51b205 0%,#3c9e0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #51b205 0%,#3c9e0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #51b205 0%,#3c9e0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #51b205 0%,#3c9e0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b205', endColorstr='#3c9e0a',GradientType=0 ); /* IE6-9 */
    color: #fff;
    display: block;
    width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 30px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.4)

}

section{
    margin: 40px 0 60px;
}

section:after{
    content: "";
    display: block;
    clear: both;
}

section#points-of-sale ul{
    list-style-type: none;
}

#points-of-sale h2{
    height: 0;
    text-indent: -10000px;
}

#points-of-sale li{
    float: left;
    width: 32%;
}

#points-of-sale li:nth-child(2){
    margin: 0 2%;
}

#points-of-sale li h3{
    text-align: center;
    color: #888;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

#points-of-sale p{
    text-align: center;
    width: 80%;
    margin: 0 10%;
    font-size: 14px;
    color: #888;
    line-height: 1.4em;
}

#clients, #contact{
    border-top: 1px solid #ccc;
    padding-top: 30px
}

#clients h2, #contact h2{
    background: green;
    color: #fff;
    padding: 8px;
    text-align: center;
    width: 250px;
    text-transform: uppercase;
    position: relative;
    top: -45px;
    margin: 0 auto;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
}

#clients img{
    float: left;
    width: 30%;
}

#clients blockquote{
    float: right;
    width: 66%;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    line-height: 1.6em;
    color: #888;
    padding-top: 50px;
    background: url(images/quote.png) no-repeat top left;
}

#contact-methods{
    float: left;
}

#contact-methods li{
    list-style-type: none;
    color: #888;
    line-height: 30px;
    clear: left;
}

#contact-methods li:before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    background: url(images/logo-sprite.png) no-repeat;
}

#contact-methods li:nth-child(1):before{
    background-position: -158px 0;
}

#contact-methods li:nth-child(2):before{
    background-position: -198px 0;
}

#contact-methods li:nth-child(3):before{
    background-position: -238px 0;
}

#contact img{
    float: right;
}

#social-nav{
    clear: both;
    position: relative;
    top: -40px;
}

#social-nav li{
    list-style-type: none;
    float: left;
    width: 40px;
    height: 30px;
    background: url(images/logo-sprite.png) no-repeat;
    text-indent: -10000px;
}

#social-nav li:nth-child(2){
    background-position: -40px 0;
}

#social-nav li:nth-child(3){
    background-position: -80px 0;
}

#social-nav li:nth-child(4){
    background-position: -120px 0;
}

#social-nav a{
    display: block;
    width: 100%;
    height: 100%;
}




































































































